html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}
html.disable-scroll {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  margin: 0;
}

.overlay {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 9;
  transition: opacity 0.2s linear;
}
.overlay.darken {
  opacity: 1;
  pointer-events: initial;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: "Jura", sans-serif;
  font-size: 3rem;
  color: #141c3a;
  margin: 0;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

p {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

ul {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s linear;
}
a:hover, a:focus {
  color: #6e07f3;
}

li {
  list-style: none;
  line-height: 1.5;
}

.button {
  display: inline-block;
  border: 2px solid transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(120deg, #ee55dc, #9c5bf1, #6e07f3);
  background-origin: border-box;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover, .button:focus {
  box-shadow: 2px 1000px 1px #f1f3fa inset;
  color: #000;
}

.container {
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  position: relative;
  padding: 0 2rem;
}
header.line {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 3rem;
}
header .logo a {
  display: block;
  transition: transform 0.2s linear;
}
header .logo a:hover, header .logo a:focus {
  transform: scale(1.1);
}
header .logo a img {
  height: 2rem;
}
header .navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}
header .navbar .nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 1023px) {
  header .navbar .nav-items {
    position: absolute;
    padding-bottom: 0.1rem;
    width: 100%;
    border-radius: 1rem;
    background: #eef5ff;
    display: none;
    text-align: center;
    font-size: 1.5rem;
    top: 100%;
    right: 50%;
    transform: translate(50%);
    z-index: 99;
  }
}
header .navbar .nav-items.flex {
  display: flex !important;
}
@media only screen and (max-width: 1023px) {
  header .navbar .nav-items .button {
    all: unset;
    cursor: pointer;
  }
  header .navbar .nav-items .button:hover {
    color: #6e07f3;
  }
}
header .navbar .hamburger svg path {
  transition: opacity 0.1s linear, transform 0.2s linear;
}
header .navbar .hamburger svg path:last-child {
  transform-origin: bottom left;
}
header .navbar .hamburger.open svg path:first-child {
  transform: rotate(45deg) translate(10px, -10px);
  transform-origin: top left;
}
header .navbar .hamburger.open svg path:nth-child(2) {
  opacity: 0;
}
header .navbar .hamburger.open svg path:last-child {
  transform: rotate(-45deg) translate(10px, 10px);
}
header .navbar .hamburger svg {
  display: block;
  height: 1.2rem;
  transition: fill 0.1s linear;
}
header .navbar .hamburger svg:hover {
  fill: #6e07f3;
}
@media only screen and (min-width: 1023px) {
  header .navbar .hamburger {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem 0;
}
.hero-img {
  display: block;
  max-width: 100%;
}
.hero .avatar {
  margin: 2rem 0;
  width: 10rem;
  height: 10rem;
}
@media only screen and (max-width: 767px) {
  .hero .hero-body {
    padding: 3rem 3rem 0;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero h2 {
    font-size: 1.1rem;
  }
}

.about {
  background-color: #6e07f3;
  color: white;
  text-align: center;
  display: block;
  padding: 5rem 0 15rem;
}
.about h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.about p {
  display: inline-block;
  margin: 2rem auto 0;
  width: 60%;
}
@media only screen and (max-width: 1023px) {
  .about p {
    width: 80%;
  }
}

.skills {
  margin: -10rem 0 7rem;
}
.skills-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
}
@media only screen and (max-width: 1023px) {
  .skills-wrapper {
    flex-direction: column;
  }
}
.skills-content {
  padding: 2rem 1rem;
  color: #141c3a;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.skills-content:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1023px) {
  .skills-content:nth-child(2) {
    border: unset;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.skills-content .content-image {
  width: 6rem;
  height: 6rem;
  padding: 0.8rem;
  background-color: #5be9b9;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}
.skills-content .content-image img {
  width: 100%;
  height: 100%;
}
.skills-content .content-title {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #141c3a;
  margin-bottom: 1rem;
}
.skills-content .content-subtitle {
  margin-bottom: 1rem;
  color: #6e07f3;
}
.skills-content .title-description {
  margin-bottom: 2rem;
}

.portfolio {
  text-align: center;
  margin-bottom: 2rem;
}
.portfolio > .container > .button {
  display: inline-block;
  margin-top: 2rem;
}
.portfolio .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}
.portfolio .title h2 {
  font-weight: bold;
}
.portfolio-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
@media only screen and (max-width: 767px) {
  .portfolio-cards {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1023px) {
  .portfolio-cards {
    flex-wrap: wrap;
  }
}
.portfolio-card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: calc(33% - 1rem);
  height: 100%;
}
@media only screen and (max-width: 1023px) {
  .portfolio-card {
    width: calc(50% - 1rem);
  }
}
@media only screen and (max-width: 767px) {
  .portfolio-card {
    width: 100%;
    font-weight: 200;
  }
}
.portfolio-card:hover img, .portfolio-card:focus-within img {
  scale: 1.2;
}
.portfolio-card:hover .image-wrapper .card-overlay, .portfolio-card:focus-within .image-wrapper .card-overlay {
  opacity: 1;
}
.portfolio-card a {
  transition: all 0.3s ease;
}
.portfolio-card p {
  padding: 0 1rem;
  font-size: 1.2rem;
  transition: opacity 0.4s linear;
}
.portfolio-card a,
.portfolio-card p {
  color: white;
}
.portfolio-card .image-wrapper {
  position: relative;
  padding-top: 70%;
}
.portfolio-card .image-wrapper .card-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141c3a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s linear;
  gap: 2rem;
}
.portfolio-card img {
  position: absolute;
  display: block;
  transition: scale 0.4s linear;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  text-align: center;
  background-color: #6e07f3;
  color: white;
  display: block;
  padding: 5rem 0 6rem;
}
footer > .container > .button {
  display: inline-block;
  background-image: none;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 2rem auto;
}
footer > .container > .button:hover, footer > .container > .button:focus {
  background: #fff;
  box-shadow: 2px 1000px 1px #fff inset !important;
}
footer p {
  opacity: 0.8;
  font-size: 1.5rem;
}
@media only screen and (max-width: 767px) {
  footer p {
    font-size: 1.1rem;
  }
}
footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social-icons .icon {
  width: 1rem;
  height: 1rem;
  padding: 0.8rem;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 0.5rem;
  transition: all 0.2s linear;
}
footer .social-icons .icon:hover, footer .social-icons .icon:focus {
  background: #fff;
}
footer .social-icons .icon:hover svg path, footer .social-icons .icon:focus svg path {
  fill: #6e07f3;
}
footer .social-icons .icon:last-child:hover svg path,
footer .social-icons .icon:last-child:hover svg rect, footer .social-icons .icon:last-child:focus svg path,
footer .social-icons .icon:last-child:focus svg rect {
  stroke: #6e07f3;
  fill: unset;
}
footer .social-icons svg {
  width: 100%;
  height: 100%;
}
footer .social-icons svg path,
footer .social-icons svg rect {
  transition: fill 0.2s linear, stroke 0.2s linear;
}

.separator-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.separator-content .image-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  margin-top: -3rem;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: 1;
}
.separator-content .image-wrapper img {
  height: 100%;
  width: 100%;
}
.separator-content h1 {
  padding-top: 1rem;
  font-size: 1.7rem;
}
@media only screen and (max-width: 1023px) {
  .separator-content h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .separator-content h1 {
    font-size: 1.3rem;
  }
}

.contact-form {
  margin: 6rem 0;
}
.contact-form form {
  width: 50%;
  margin: 3rem auto 0;
}
@media only screen and (max-width: 1023px) {
  .contact-form form {
    width: 100%;
  }
}
.contact-form form .field-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1023px) {
  .contact-form form .field-wrap {
    display: inline-block;
    width: 100%;
  }
}
.contact-form form .field {
  width: 100%;
}
.contact-form form .field textarea {
  height: 12rem;
  padding-top: 0.4rem;
}
.contact-form form .field textarea,
.contact-form form .field input:not([type=submit]) {
  width: 100%;
  resize: none;
  border: 1px solid #e6ecf8;
  color: #141c3a;
  outline: 0;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  text-indent: 0.4rem;
}
.contact-form form .field input:not([type=submit]) {
  padding: 0.4rem 0;
}
.contact-form form .field label {
  display: block;
  font-family: "Jura", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: rgba(41, 51, 71, 0.8);
}
.contact-form form .button {
  display: block;
  margin: 2rem auto 0;
  font-size: 1.3rem;
  padding: 0.5rem 2.5rem;
}

.popup {
  display: none;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16rem;
  height: 16rem;
  border: 3px solid #6e07f3;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 99;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  height: 100%;
}
.popup img {
  width: 5rem;
  height: 5rem;
  padding-top: 2.5rem;
}
.popup a {
  display: block;
  position: absolute;
  top: 2%;
  right: 2%;
  height: 2rem;
  width: 2rem;
}
.popup a svg {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */