html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

ul {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #6e07f3;
}

li {
  list-style: none;
}

header {
  position: relative;
  padding: 0 2rem;
}

/* Container */

.container {
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
}

/* Navbar */

.logo a {
  display: block;
  transition: transform 0.2s linear;
}

.logo a:hover {
  transform: scale(1.1);
}
/* 
label{
  width: 4.5rem;
  height: 2rem;
  position: relative;
  display: block;
  background-color: #ebebeb;
  border-radius: 1.5rem;
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.4), inset 0px -2px 10px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

label::after{
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

input{
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label{
  background: #242424;
}

input:checked + label::after{
  left: 79px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
} */

.navbar {
  width: 100%;
  height: 150px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-items {
  font-weight: 500;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar .toggle_btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .toggle_btn:hover {
  color: #6e07f3;
}

.button {
  display: block;
  border: 2px solid transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(120deg, #ee55dc, #9c5bf1, #6e07f3);
  background-origin: border-box;
  color: #fff;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 2px 1000px 1px #f1f3fa inset !important;
  color: #000;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2.5rem;
  top: 80px;
  height: 0;
  overflow: hidden;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .navbar .nav-items {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    left: 2rem;
    width: unset;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* Hero computer image */

img.is-bottom {
  max-width: 100%;
  display: block;
}

@media (min-width: 769px) {
  .hero-foot img.is-bottom {
    margin-bottom: 0;
    max-width: 100%;
  }
}

/* Hero main description and image */

section#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto; /* Center the hero section horizontally */
}

h1 {
  font-family: "Jura", sans-serif;
  font-size: 3rem;
  color: #141c3a;
  margin: 0;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

.avatar {
  margin: 2rem 0;
  width: 10rem;
  height: 10rem;
}

@media (max-width: 768px) {
  .hero-body {
    padding: 3rem 3rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

/* About */

.about {
  background-color: #6e07f3;
  color: white;
  text-align: center;
  display: block;
  padding: 5rem 0 13rem;
}

.about h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.about p {
  display: inline-block;
  margin: 2rem auto 0;
  width: 50%;
}

/* Skills */

.skills {
  margin-bottom: 7rem;
}

.skills-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  margin-top: -8rem;
}

.skills-content {
  padding: 2rem 1rem;
  color: #141c3a;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.skills-content:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.content-image {
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
  background-color: #5be9b9;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.content-image img {
  width: 100%;
  height: 100%;
}

.content-title {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #141c3a;
  margin-bottom: 1rem;
}

.content-subtitle {
  margin-bottom: 1rem;
  color: #6e07f3;
}

.title-description {
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .skills-wrapper {
    flex-direction: column;
  }

  .skills-content:nth-child(2) {
    border: unset;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/* Portfolio */

.portfolio {
  text-align: center;
}

.portfolio .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.portfolio .title h2 {
  font-weight: bold;
}

.portfolio-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: calc(33% - 1rem);
  height: 100%;
}

.portfolio-card .image-wrapper {
  position: relative;
  padding-top: 70%;
}

.portfolio-card img {
  position: absolute;
  display: block;
  transition: scale 0.4s linear;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.portfolio-card:hover img {
  scale: 1.2;
}

.card-wrapper {
  width: 100%;
}

.card-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141c3a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s linear;
  gap: 2rem;
}

.portfolio-card:hover .card-overlay {
  opacity: 1;
}

.portfolio-card a,
.portfolio-card p {
  color: white;
  transition: opacity 0.4s linear;
}

.portfolio-card a {
  transition: all 0.3s ease;
}

.portfolio-card p {
  padding: 0 1rem;
  font-size: 1.3rem;
}

.portfolio > .container > .button {
  display: inline-block;
  margin: 2rem auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio-cards {
    flex-wrap: wrap;
  }

  .portfolio-card {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 767px) {
  .portfolio-cards {
    flex-direction: column;
  }

  .portfolio-card {
    width: 100%;
    pointer-events: none;
  }

  .card-overlay {
    opacity: 0.8;
  }
}
